<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzCJx22wWQpMUzfoYHC7yPVeFRYLbvFiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1097697803791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yftsoftware.anestezi</string>
	<key>PROJECT_ID</key>
	<string>anestezi</string>
	<key>STORAGE_BUCKET</key>
	<string>anestezi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097697803791:ios:c7faefdeb643cf75faad7a</string>
</dict>
</plist>